<!-- Ads Widget -->
<div class="widget newsletter-widget">

  <!-- Widget Content -->
  <div class="widget-content">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Sidebar1 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-1653417098920757"
         data-ad-slot="1736817422"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </div>

</div>
