<!-- Newsletter Widget -->
<div class="widget newsletter-widget">

  <!-- Widget Header -->
  <header class="widget-header">
    <h4 class="widget-title">Newsletter</h4>
  </header>

  <!-- Widget Content -->
  <div class="widget-content">

    <!-- MailChimp Email Form -->
    <form class="newsletter-email-signup" action="{{ site.mailchimp.list-action }}" method="post" novalidate>
      <div class="field-group">
        <label class="hide" for="MERGE1">First Name</label>
        <input type="text" value="" name="MERGE1" placeholder="First Name">
      </div>
      <div class="field-group">
        <label class="hide" for="MERGE2">Last Name</label>
        <input type="text" value="" name="MERGE2" placeholder="Last Name">
      </div>
      <div class="field-group">
        <label class="hide" for="MERGE0">Email</label>
        <input type="email" value="" name="MERGE0" placeholder="Email">
      </div>

      <!-- bot signup protection - real people won't fill this in -->
      <input type="hidden" class="hide" name="u" tabindex="-1" value="{{ site.mailchimp.user-id }}">
      <input type="hidden" class="hide" name="id" tabindex="-1" value="{{ site.mailchimp.list-id }}">

      <input type="submit" value="Subscribe" name="subscribe" class="button button-focus button-subscribe">

    </form>

  </div>

</div>
