<!DOCTYPE html >
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>
    <!-- WonkyLighthouse Analytics account -->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVB23PC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Page Loader -->
    <div id="page-loader" class="page-loader"><span class="load-icon"></span></div>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
