<!DOCTYPE html >
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1636699406349952";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Page Loader -->
    <div id="page-loader" class="page-loader"><span class="load-icon"></span></div>

    {% include header-page.html %}

    <!-- Page Section -->
    <section class="site-section blog-section page-layout" id="start">
      <div class="container">

        <!-- Page Layout -->
        <div class="row">

          <!-- Sidebar -->
          <div class="col-md-4 hidden-xs hidden-sm">

            {% include sidebar.html %}

          </div>

          <!-- Content -->
          <div class="col-md-8 blog-articles-container">

            {{ content }}

          </div>

        </div>

      </div>
    </section>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
